<h1 class="text-align-center">Coupon-réponse</h1>

<p class="text-align-center">Vous pouvez répondre au coupon-réponse via le formulaire ci-dessous avant le 31 mars 2017.</p>

<div *ngIf="coupon">

<form class="form-horizontal" (ngSubmit)="onSubmit()" #appCoupon="ngForm">
    <div class="form-group">
        <label for="nom" class="col-sm-2 control-label">Je suis</label>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="coupon.nom" name="nom" class="form-control" id="nom" placeholder="Nom" required>
        </div>
        <div class="col-sm-2">
            <input type="text" [(ngModel)]="coupon.prenom" name="prenom" class="form-control" id="prenom" placeholder="Prénom" required>
        </div>
    </div>
    <div class="form-group">
        <label for="present" class="col-sm-2 control-label">Je serais présent(e)</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="coupon.present" name="present" id="present" value=true required>Au dîner
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="coupon.present" name="present" id="present" value=false required>Par la pensée
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="entree" class="col-sm-2 control-label">En entrée, je prends</label>
        <div class="col-sm-4">
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="entree" name="entree" id="entree" value="magret">Tarte au magret
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="entree" name="entree" id="entree" value="saumon">Saumon
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="entree" name="entree" id="entree" value="legumes">Légumes
            </label>
        </div>
    </div>
    <div class="form-group">
        <label for="plat" class="col-sm-2 control-label">En plat principal, je prends</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="plat" name="plat" id="plat" value="pintade" required>Pintade
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="plat" name="plat" id="plat" value="boeuf" required>Boeuf
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="plat" name="plat" id="plat" value="lasagnes" required>Lasagnes
            </label>
            <label class="radio-inline">
                <input type="radio" [(ngModel)]="plat" name="plat" id="plat" value="pizza" required>Pizza reine (pour les enfants)
            </label>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Envoyer</button>
        </div>
    </div>
</form>
</div>