<div class="content">
    
    <h1>
        Liste des invités
    </h1>

    <h2>La famille</h2>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>So ngec</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Ngi</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Karine</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Bounkong</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/sylvie_sophie.jpg" alt="fille" class="col-xs-12">
                <span>Sylvie & Sophie</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Dominique</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Jacques</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Nathalie</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Benjamin</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Stéphanie</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Bertrand</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Paulette</span>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Catherine</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Christian</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Claire</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Jean-Baptiste</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Céline</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Nicolas</span>
            </div>
        </div>
    </div>

    <h2>Les amis</h2>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Viviane</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Eric</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Sandrine</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Guillaume</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Suzel</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/jany.jpg" alt="garcon" class="col-xs-12">
                <span>Jany</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Aurore</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Patrick</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Daisy</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>William</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Victor</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Jenani</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Filipe</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Delphine</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Youcef</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Gina</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Romain</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Magali</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Romain</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Maissa</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Simon</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Bastien</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Victor</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Diana</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Vincent</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Nicolas</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>William</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Clément</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Mado</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Rémi</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Maly</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Benjamin</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Henan</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Rémi</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Louis</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Clément</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Florent</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Bertrand</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Jean-Christophe</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Yannis</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Jérôme</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Laurent</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Erika</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Laurie</span>
            </div>
        </div>
    </div>

    <h2>Les (ex-)collègues</h2>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/jeev.jpg" alt="garcon" class="col-xs-12">
                <span>Jeevethan</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Charlotte</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Vincent</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Margherita</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Jean-Baptiste</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/aurelia.jpg" alt="fille" class="col-xs-12">
                <span>Aurélia</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Boris</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Fernando</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Leton</span>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/adrien_margaux.JPG" alt="garcon" class="col-xs-12">
                <span>Adrien & Margaux</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Claire</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Walid</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Souad</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Raphaëlle</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Linh & Côme</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-offset-1 col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Thibault</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Mme Oliva</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Mickaël</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Mme Misley</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Virgil</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Mme Talamona</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Henrique</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_fille.png" alt="fille" class="col-xs-12">
                <span>Anne-Laure</span>
            </div>
        </div>
        <div class="col-xs-1">
            <div class="row">
                <img src="images/icone_garcon.png" alt="garcon" class="col-xs-12">
                <span>Thierry</span>
            </div>
        </div>
    </div>
</div>
