.content {
    text-align: center;
}

.invite {
    height: 110px
}

.photo-invite {
    max-height: 85px
}

#imgRender {
    display: none;
    position: absolute;

    border: 1px solid lightgrey;
}