<div class="content">
    <h1 class="text-center">Questions</h1>

    <p class="text-center">
        Voici quelques questions pour nous aider à la préparation du mariage.
        Les réponses sont à donner dans le contexte du repas du mariage.
    </p>

    <div class="alert alert-success" role="alert" *ngIf="formOk">Super, les informations ont été enregistrées, merci ! :)</div>
    <div class="alert alert-danger" role="alert" *ngIf="formError">Oh oh, ça n'a pas fonctionné ! Contactez-nous</div>

    <form class="form-horizontal col-xs-offset-1 col-xs-10" (ngSubmit)="onSubmit()" #appQuestions="ngForm">
        <div class="form-group">
            <label class="col-xs-3 control-label">Je préfère boire</label>
            <div class="col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.vin_rouge" name="vin_rouge" id="vin_rouge" value=true>Du vin rouge
                </label>
            </div>
            <div class="col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.vin_blanc" name="vin_blanc" id="vin_blanc" value=true>Du vin blanc
                </label>
            </div>
            <div class="col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.eau_plate" name="eau_plate" id="eau_plate" value=true>De l'eau plate
                </label>
            </div>

            <div class="col-xs-offset-3 col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.eau_gazeuse" name="eau_gazeuse" id="eau_gazeuse" value=true>Du l'eau gazeuse
                </label>
            </div>
            <div class="col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.coca" name="coca" id="coca" value=true>Du coca / pepsi
                </label>
            </div>
            <div class="col-xs-3">
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="questions.jus_fruit" name="jus_fruit" id="jus_fruit" value=true>Du jus de fruit
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="fromage" class="col-xs-3 control-label">Je pense manger du fromage</label>
            <div class="col-xs-9">
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="questions.fromage" name="fromage" id="fromage" value=true required>Oui
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="questions.fromage" name="fromage" id="fromage" value=false required>Non
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="vehicule" class="col-xs-3 control-label">Je viens</label>
            <div class="col-xs-9">
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="questions.vehicule" name="vehicule" id="vehicule" value=false required>En transport en commun
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="questions.vehicule" name="vehicule" id="vehicule" value=true required>En voiture
                </label>
            </div>
        </div>

        <button type="button" onclick="reset()" class="btn btn-default col-xs-offset-3 col-xs-2">Réinitialiser</button>
        <button type="submit" class="btn btn-danger col-xs-offset-3 col-xs-2">Envoyer</button>
    </form>

    <div class="loader" *ngIf="waiting">
        <img src="images/loader.gif" alt="loader" width="100px"/>
    </div>
</div>