<div class="content">
    <h1 class="text-center">Contact</h1>
    
    <div class="row">
        <div class="contact-card col-xs-offset-3 col-xs-3">
            <p>Syline KHAMPHOUSONE</p>
            <p>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                06 02 31 12 68
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <a href="mailto:sylinelee@gmail.com">sylinelee@gmail.com</a>
            </p>
        </div>

        <div class="contact-card col-xs-3">
            <p>Alexandre CANTAIS</p>
            <p>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                06 46 51 30 47
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <a href="mailto:alexandre.cantais@gmail.com">alexandre.cantais@gmail.com</a>
            </p>
        </div>
    </div>
    <div class="row" id="address">
        <p class="col-xs-12 text-center">
            89 Boulevard de Stalingrad <br>
            94 320 Thiais
        </p>
    </div>
</div>
