<div class="contenu">
    <div class="blockImg">
        <h1>Menu du mariage</h1>

        <p>Au dîner, nous vous proposons au choix (une entrée et un plat) : </p>
    </div>

    <div class="section blockImg">
        <h2>Entrées</h2>

        <p>Tarte Fine aux Magret Fumé et Coulis d’Orange</p>
        <p>Tartare aux Deux Saumons, Fromage Frais et Aubergines Grillées</p>
        <p>Tatin de Légumes et sa Tapenade</p>
    </div>

    <div class="section blockImg">
        <h2>Plats principaux</h2>

        <p>Suprême de Pintade à la Crème d’Écrevisses,Pomme de Terre Grenailles au Thym et Ros’Anna de Carottes</p>
        <p>Filet de Bœuf au Jus de Truffe et Foie Gras, Gratin Dauphinois et Panais Confit au Beurre</p>
        <p>Lasagnes de Légumes au Pesto</p>
    </div>

    <div class="section blockImg">
        <h2>Fromages</h2>
    </div>

    <div class="section blockImg">
        <h2>Gâteaux de mariage</h2>
    </div>
</div>