<div class="contenu">
    <h1>Menu du mariage</h1>

    <p>Au dîner, nous vous proposons au choix (une entrée et un plat) : </p>

    <div>
        <h2>Entrées</h2>

        <p>Tarte Fine aux Magret Fumé et Coulis d’Orange</p>
        <p>Tartare aux Deux Saumons, Fromage Frais et Aubergines Grillées</p>
        <p>Tatin de Légumes et sa Tapenade</p>
    </div>

    <div>
        <h2>Plats principaux</h2>

        <p>Suprême de Pintade à la Crème d’Écrevisses, Pomme de Terre Grenailles au Thym et Ros’Anna de Carottes</p>
        <p>Filet de Bœuf au Jus de Truffe et Foie Gras, Gratin Dauphinois et Panais Confit au Beurre</p>
        <p>Lasagnes de Légumes au Pesto</p>
    </div>

    <img src="/images/separateur.png"/>
    <div>
        <p>Fromages</p>
    </div>

    <div>
        <p>Gâteau de mariage</p>
    </div>
</div>