<div class="container-fluid">
    <div class="row">
        <h1 class="text-center">Planning de la journée</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>13h30 : Mariage à la mairie</h3>
        </div>
        <div class="col-xs-offset-2 col-xs-2">
            <div class="row">
                <img src="/images/mairie_zeke.jpg" class="col-xs-12" alt="mairie" height="150px"/>
            </div>
        </div>

        <div class="col-xs-3">
            <p>13 bis, quai Maurice Berteaux 78230 Le Pecq</p>

            <p>Pour venir :</p>
            <ul>
                <li>A pied : gare du Vésinet - Le Pecq (17 min)</li>
                <li>Par l'A86 : sortie Chatou / Rueil 2000</li>
                <li>Par l'A12 : sortie Saint-Germain-en-Laye / Paris / Poissy / Rouen</li>
            </ul>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.9575597448106!2d2.1046122156757536!3d48.89714597929131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66286b6804b4b%3A0x2c763b6f867c51ff!2s13+Quai+Maurice+Berteaux%2C+78230+Le+Pecq!5e0!3m2!1sfr!2sfr!4v1487196113362" class="col-xs-3" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>15h00 : Mariage à l'église</h3>
        </div>
        <div class="col-xs-offset-2 col-xs-2">
            <div class="row">
                <img src="/images/eglise_zeke.jpg" class="col-xs-12" alt="église" height="150px"/>
            </div>
        </div>

        <div class="col-xs-3">
            <p>
                58 bis avenue du Président Kennedy
                <br>
                78230 Le Pecq
            </p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d10493.859088019044!2d2.0993392084559295!3d48.88747901082421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x47e66286ceecdd0f%3A0xdafefbaa05ee0773!2sH%C3%B4tel+de+Ville%2C+13+bis+quai+Maurice+Berteaux%2C+78230+Le+Pecq!3m2!1d48.897146!2d2.106801!4m5!1s0x47e6881ef774e649%3A0xf16a9736a4f1b758!2sSaint+Thibault%2C+Le+Pecq!3m2!1d48.8783399!2d2.0963498!5e0!3m2!1sfr!2sfr!4v1487451820462" class="col-xs-3" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>Vers 16h30 : Vin d'honneur</h3>
        </div>
        <div class="col-xs-offset-2 col-xs-2">
            <div class="row">
                <img src="/images/vin_honneur.png" class="col-xs-12" alt="vin honneur" height="150px"/>
            </div>
        </div>

        <div class="col-xs-3">
            <p>
                3 bis avenue du Pasteur Martin Luther King
                <br>
                78230 Le Pecq
            </p>
            <p>Conseil : en allant à l'église, se garer dans les rues près de la salle de fête et marcher jusqu'à l'église</p>
        </div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1311.9574454191356!2d2.0935986582593524!3d48.87889899482237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47e6881ef774e649%3A0xf16a9736a4f1b758!2sSaint+Thibault%2C+Le+Pecq!3m2!1d48.8783399!2d2.0963498!4m5!1s0x47e68818cceb4e09%3A0x92a5d3eda37b928e!2s3+Avenue+Pasteur+Martin+Luther+King%2C+78230+Le+Pecq!3m2!1d48.879525099999995!2d2.0938396999999997!5e0!3m2!1sfr!2sfr!4v1487452421760" class="col-xs-3" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <h3>Vers 18h45 : Dîner</h3>
        </div>
    </div>
</div>