<html>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home" routerLinkActive="active">Accueil</a></li>
                    <li><a routerLink="/info" routerLinkActive="active">Planning de la journée</a></li>
                    <li><a routerLink="/liste_mariage" routerLinkActive="active">Liste de mariage</a></li>
                    <li><a routerLink="/liste_invites" routerLinkActive="active">Liste des invités</a></li>
                    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</body>
</html>