.navbar {
	position: fixed;
	top: 0px;
	
	width: 100%;

	z-index: 11;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.container {
    margin-top: 55px
}
/*.main-content {
	margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}*/
