<div class="content">
    <div class="text-center">
        <h1>Accueil</h1>

        <p>J - {{getJourRestant()}}</p>
        
        <p>Bienvenu(e) sur LE site de notre mariage !</p>

        <p>En vous baladant sur ce mini site, vous trouverez quelques informations sur le mariage. <br>
            En espérant qu'elles vous seront utiles ;)
        </p>

        <p>Bonne balade !</p>
    <div>
    <div class="row">
        <img src="images/photos/adrien_margaux.jpg" alt="nous" class="col-xs-offset-4 col-xs-4"/>
    </div>

    <div class="row">
        <form class="form-present col-xs-offset-2 col-xs-8 form-inline" (ngSubmit)="onSubmit()" #appHome="ngForm">
            <h2>Confirmez votre présence</h2>
            
            <div class="alert alert-success" role="alert" *ngIf="formOk">Super, les informations ont été enregistrées, merci ! :)</div>
            <div class="alert alert-danger" role="alert" *ngIf="formError">Oh oh, ça n'a pas fonctionné ! Contactez-nous</div>

            <div class="form-group">
                <input type="text" [(ngModel)]="form.nom" name="nom" class="form-control" id="nom" placeholder="Nom" required>
                <input type="text" [(ngModel)]="form.prenom" name="prenom" class="form-control" id="prenom" placeholder="Prénom" required>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="form.present" name="present" id="present" value=true required>Présent
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="form.present" name="present" id="present" value=false required>Absent
                </label>
            </div>
            <button type="submit" class="btn btn-danger">Envoyer</button>
        </form>
    </div>
</div>

<div class="loader" *ngIf="waiting">
    <img src="images/loader.gif" alt="loader" width="100px"/>
</div>