.content {
    margin-top: 70px;
}

.form-present {
    border: 5px dashed #B22222;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.loader {
    position: fixed; /* or absolute */
    top: 40%;
    left: 45%;
}