<div class="content">
    
    <h1>Accueil</h1>

    <p>J - {{getJourRestant()}}</p>
    
    <p>Bienvenu(e) sur LE site de notre mariage !</p>

    <p>En vous baladant sur ce mini site, vous trouverez quelques informations sur le mariage. <br>
        Il y a également un sondage pour nous aider à l'organisation de cet événement !
    </p>

    <p>Bonne balade !</p>

    <div class="row">
        <img src="images/adrien_margaux.jpg" alt="nous" class="col-xs-offset-4 col-xs-4"/>
    </div>

    <div class="row">
        <form class="form-present col-xs-offset-2 col-xs-8 form-inline" (ngSubmit)="onSubmit()" #appHome="ngForm">
            <h2>Confirmez votre présence</h2>
            
            <div class="form-group">
                <input type="text" [(ngModel)]="form.nom" name="nom" class="form-control" id="nom" placeholder="Nom" required>
                <input type="text" [(ngModel)]="form.prenom" name="prenom" class="form-control" id="prenom" placeholder="Prénom" required>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="form.present" name="present" id="present" value=true required>Présent
                </label>
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="form.present" name="present" id="present" value=false required>Absent
                </label>
            </div>
            <button type="submit" class="btn btn-default">Envoyer</button>
        </form>
    </div>
</div>